{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}{{ 'Menu.UserDashboard'|trans }}{% endblock %}

{% block main %}
<div class="dashboard-welcome">
    <h2 class="dashboard-welcome__title">👋 {{ 'Dashboard.WelcomeUser'|trans({name: app.user.name}) }}</h2>
    <p class="dashboard-welcome__text">
        {{ 'Dashboard.CustomizeTemplate'|trans }}<br>
        <code>templates/dashboard/user.html.twig</code>
    </p>
</div>
{% endblock %}
