{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Dashboard{% endblock %}

{% block main %}
<div class="dashboard-welcome">
    <div class="dashboard-welcome__icon">&#128075;</div>
    <h2 class="dashboard-welcome__title">Welcome, {{ app.user.name }}</h2>
    <p class="dashboard-welcome__text">
        This is the user dashboard. Customize it in<br>
        <code>templates/dashboard/user.html.twig</code>
    </p>
</div>
{% endblock %}
